language: python
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
install:
  - python setup.py install
  - pip install -U mypy pytest pytest-cov
  - pip install -U codecov
script:
  - pytest --cov
  - mypy prices --ignore-missing-imports
after_success:
  - codecov
